main {
    color: rgb(81, 84, 87);
}

nav,
.footer {
    z-index: 99;
    background-color: rgb(248, 249, 250);
}

h6 {
    text-decoration: underline;
    font-style: italic;
}

.container {
    padding-bottom: 40px !important;
}

.right {
    float: right;
}

.me-img {
    margin: 2rem;
}

.jumbotron {
    margin-bottom: 0;
}

.php-img {
    float: right;
    width: 5rem;
    height: 3.2rem;
}
